* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --blue: #364F6B;
    --cyan: #3FC1C9;
    --gray: #f5f5f5;
    --pink: #fc5185;
}

body{
    min-height: 100vh;
    background: whitesmoke;
    display: grid;
    place-content: center;
}

.logo{
    position: relative;
    width: 50vw;
    aspect-ratio: 10/6.2;
    border: 2px solid olive;

    .computer{
        position: absolute;
        width: 68%;
        height: 70%;
        border: 1.5vw solid var(--blue);
        border-radius: 2.5vw;
        transform-origin: bottom center;
        left: 16%;
        transform: perspective(50vw) translateY(9.2vw) rotateX(70deg) scaleX(1.4);
        &.screen{
            animation: 1s opening 2s ease-in-out forwards;
        }
        &.pad{
            background:var(--blue);
        }
    }
}

@keyframes opening{
    from{        
        transform: perspective(50vw) translateY(9.2vw) rotateX(70deg) scaleX(1.4);
    }
    to{
        transform: none;
    }
}